<h1><%= @user.username %>'s Notebook</h1>

<% if user_signed_in? %>
<a class="btn btn-primary" href="#" role="button">Follow this User</a>
<% end %>

<h2>Statistics</h2>
<p>Following:</p>
<p>Followed by:</p>
<p>Number of notes:</p>

<br/>
<h2>Current Notes</h2>
<div class="card-deck">
  <% @user.notes.each do |note| %>
    <div class="card-contain">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center"><%= note.title %></h4>
        <div class="scroller">
        <p class="card-text">
          <%= note.body %>
        </p>
        </div>
      </div>
    </div>
    </div>
  <% end %>
</div>
