<h1>Current Users</h1>

<br/>

<div class="card-deck">
  <% @users.each do |user| %>
    <div class="card-contain">
    <div class="card">
      <%= image_tag("http://api.adorable.io/avatar/300/#{user.username}") %>
      <div class="card-body">
        <h4 class="card-title text-center"><%= link_to user.username, user_path(username: user.username) %></h4>
        <div class="scroller">
        <p class="card-text">
          <% user.notes.each do |note| %>
          <li class="list-group-item"><%= note.title %></li>
          <% end %></p>
        </div>
      </div>
    </div>
    </div>
  <% end %>
</div>
